<div class="container">
  <div class="card text-center mt-3">
    <div class="card-header <%= bg_status(@todo.status) %>">
      <span class="font-weight-bold"><%= read_status(@todo.status) %></span>
    </div>
    <div class="card-body <%= bg_priority(@todo.priority) %>">
      <h5 class="card-title font-weight-bold"><%= @todo.title %></h5>
      <%= simple_format(@todo.description, class: "card-text") %>
      <div class="row justify-content-center">
        <%= link_to "Back", shares_path, class: "btn btn-primary m-1" %>
        <%= button_to read_status(!@todo.status), status_path(@todo.id), method: :put, params: {from: "share"}, class: "btn btn-secondary m-1" %>
        <%= render "shares/dismiss_modal" %>
      </div>
      <span class="badge span-prio mt-5 text-muted">Priority: <%= read_priority(@todo.priority) %></span>
      <span class="badge span-prio-r mt-5 text-muted"><%= User.find_by(id: @todo.user_id).email %></span>
    </div>
    <div class="card-footer <%= bg_status(@todo.status) %>">
      <%= time_display(Time.now.to_i - @todo.created_at.to_i) %> ago
    </div>
  </div>
</div>