<div class="container">
  <div class="card mt-3">
    <div class="card-header text-center">
      To Do
    </div>
    <ul class="list-group list-group-flush">
      <% @todos.where(status: false).each do |todo| %>
      <li class="list-group-item <%= bg_priority(todo.priority) %>">
        <%= todo.title %>
        <%= link_to "Show", todo_path(todo.id), class: "btn btn-primary mx-2" %>
        <%= link_to "Edit", edit_todo_path(todo.id), class: "btn btn-dark mx-2" %>
        <%= link_to "Delete", todo_path(todo.id), method: :delete, data: { confirm: "Do you want to delete #{todo.title}?"}, class: "btn btn-danger mx-2" %>
        <span class="badge span-prio"><%= read_priority(todo.priority) %></span>
      </li>
      <% end %>
    </ul>
  </div>
  <div class="card mt-3">
    <div class="card-header text-center bg-card-done">
      Done
    </div>
    <ul class="list-group list-group-flush">
      <% @todos.where(status: true).each do |todo| %>
      <li class="list-group-item <%= bg_priority(todo.priority) %>">
        <%= todo.title %>
        <%= link_to "Show", todo_path(todo.id), class: "btn btn-primary mx-2" %>
        <%= link_to "Edit", edit_todo_path(todo.id), class: "btn btn-dark mx-2" %>
        <%= link_to "Delete", todo_path(todo.id), method: :delete, data: { confirm: "Do you want to delete #{todo.title}?"}, class: "btn btn-danger mx-2" %>
        <span class="badge span-prio"><%= read_priority(todo.priority) %></span>
      </li>
      <% end %>
    </ul>
  </div>
</div>