<div class="container">
  <div class="card mt-3">
    <div class="card-header text-center">
      <span class="font-weight-bold">To Do</span>
    </div>
    <ul class="list-group list-group-flush">
      <% @todos.where(status: false).each do |todo| %>
        <li class="list-group-item <%= bg_priority(todo.priority) %>">
          <div class="row">
            <div class="font-weight-bolder text-capitalize text-truncate col-10"><%= todo.title %></div>
            <%= link_to "Show", todo_path(todo.id), class: "btn btn-primary ml-auto col-2" %>
          </div>
          <span class="badge span-prio text-muted">Priority: <%= read_priority(todo.priority) %></span>
        </li>
      <% end %>
    </ul>
  </div>
  <div class="card mt-3">
    <div class="card-header text-center bg-card-done">
      <span class="font-weight-bold">Done</span>
    </div>
    <ul class="list-group list-group-flush">
      <% @todos.where(status: true).each do |todo| %>
        <li class="list-group-item <%= bg_priority(todo.priority) %>">
          <div class="row">
            <div class="font-weight-bolder text-capitalize text-truncate col-10"><%= todo.title %></div>
            <%= link_to "Show", todo_path(todo.id), class: "btn btn-primary ml-auto col-2" %>
          </div>
          <span class="badge span-prio text-muted">Priority: <%= read_priority(todo.priority) %></span>
        </li>
      <% end %>
    </ul>
  </div>
</div>