<div class="container">
  <div class="card text-center mt-3">
    <div class="card-header <%= bg_status(@todo.status) %>">
      <span class="font-weight-bold"><%= read_status(@todo.status) %></span>
    </div>
    <div class="card-body <%= bg_priority(@todo.priority) %>">
      <h5 class="card-title font-weight-bold"><%= @todo.title %></h5>
      <%= simple_format(@todo.description, class: "card-text") %>
      <%= link_to "Back", todos_path, class: "btn btn-primary mx-1" %>
      <%= link_to "Edit", edit_todo_path(@todo.id), class: "btn btn-dark mx-1" %>
      <%= render "todos/delete_modal" %>
      <span class="badge span-prio mt-5 text-muted">Priority: <%= read_priority(@todo.priority) %></span>
    </div>
    <div class="card-footer <%= bg_status(@todo.status) %>">
      <%= time_display(Time.now.to_i - @todo.created_at.to_i) %> ago
    </div>
  </div>
</div>